body {
/* this needs work! because it doesn't link??? */
    background-image: url("assets/images/feathers.png")
 }

 #tolkienbox {
/* this needs work! */
    background-color:#eeeeee;
    width: auto;
    height: auto;
    margin: 5% 30% 10% 30%;
    color: #1c640a;
    padding: 0 15px 15px 15px;
    border-style: solid;
    border-width: 10px;
    border-color:#000000;
    position: absolute;
    line-height: 25px;
/* this needs work! */
}

#art {
    width: 90%;
    margin: 5%;

}